<% content_for(:page_header) {"Our groups"} %>
<% @groups.each do |group| %>
  <div class="well">
    <h2><%= group.name %></h2>
    <button class="btn btn-primary">Join</button>
    <button class="btn btn-default">Info</button>
  </div>
<% end %>
