<% content_for(:page_header) {"Participate in our polls right now!"} %>
<% @groups.each do |group| %>
  <div class="well">
    <h2><%= group.name %></h2>
    <div class="btn-group">
      <%= link_to 'Edit', edit_poll_path(poll), class: 'btn btn-default' %>
    </div>



<% end %>
