<div class="site-wrapper-inner">
  <div class="cover-container">
    <div class="masthead clearfix">
      <div class="inner">
        <h3 class="masthead-brand">Make Some Polls</h3>
        <nav class="nav nav-masthead">
          <a class="btn btn-primary" href="/users/sign_in">Log In</a>
          <a class="btn btn-success" href="/users/sign_up">Sign Up</a>
        </nav>
      </div>
    </div>
    <div class="inner cover">
      <h1 class="cover-heading">Make polls the easy way</h1>
      <p class="lead">Create your own polls, install them on your website, and vote on polls others have written.</p>
      <p class="lead">
        <a href="/users/sign_up" class="btn btn-lg btn-success">Sign Up - For Free</a>
      </p>
      <p>
        Already have an account? <a style="color: #0275d8;" href="/users/sign_in">Log in</a>
      </p>
    </div>
    <div class="mastfoot">
      <div class="inner">
        <p>A web app by <a href="http://www.mrscottmcallister.com" target="_blank">Scott McAllister</a>.</p>
      </div>
    </div>
  </div>
</div>
