<div class="nested-fields">
  <div class="form-group">
    <%= f.text_field :title, class: "form-control", style: "width: 66.66%; display:inline;", required: true, placeholder: "Option Title" %>
    <%= link_to_remove_association f, class: "btn btn-danger pull-right" do%>
      Remove -
    <% end %>
  </div>
</div>
