<div class="container">
  <h2>Participate In Our Polls</h2>
  <% @polls.each do |poll| %>
    <div class="well">
      <h4><%= poll.topic %> <small>(voted: <%= poll.votes_summary %>)</small></h4>
      <!-- TODO: show voting results -->
      <%= render 'voting_form', poll: poll %>
    </div>
  <% end %>
</div>
