/* line 1, /Users/scott/Documents/Dev/Ruby/make-some-polls/app/assets/stylesheets/devise/registrations.css.scss */
body {
  color: #ffffff;
  background-color: #333;
  text-align: center;
}

/* line 7, /Users/scott/Documents/Dev/Ruby/make-some-polls/app/assets/stylesheets/devise/registrations.css.scss */
.login-form {
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
  background-color: #5a5a5a;
  padding: 15px;
  border-radius: 5px;
}

/* line 15, /Users/scott/Documents/Dev/Ruby/make-some-polls/app/assets/stylesheets/devise/registrations.css.scss */
.login-form a {
  color: #2c9ce9;
}

/* line 18, /Users/scott/Documents/Dev/Ruby/make-some-polls/app/assets/stylesheets/devise/registrations.css.scss */
.login-form a:hover {
  color: #2c9ce9;
  text-decoration: underline;
}

/* line 22, /Users/scott/Documents/Dev/Ruby/make-some-polls/app/assets/stylesheets/devise/registrations.css.scss */
.links {
  padding-top: 10px;
}
