@import 'bootstrap';
@import "font-awesome";

.well {
  h2 {
    margin-top: 0;
  }
}

.progress {
  background-image: linear-gradient(to bottom, #bbb 0%, #ccc 100%)
}

.navbar img{
  width:40px;
  height:40px;
  margin-top:5px;
}

body{
  color: #ffffff;
  background-color:#333;
}

#error_explanation, #flash_alert{
  color:red;
}
#flash_alert{
  padding-bottom:5px;
}
#error_explanation ul{
  padding: 0px;
}
#error_explanation li{
  list-style-type: none;
}
